<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img
        src="https://cdn4.iconfinder.com/data/icons/user-interface-4-5/16/ui_ux-02-512.png"
        id="icon"
        alt="User Icon"
      />
    </div>

    <!-- Login Form -->
    <form action="/login" method="post">
      <input
        type="email"
        id="login"
        class="fadeIn second indexEmail"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        id="password"
        class="fadeIn third"
        name="password"
        placeholder="Password"
      />
      <input type="submit" class="fadeIn fourth" value="Log In" />
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">SignUp</a>

      <a class="underlineHover" href="#">| Forgot Password?</a>
    </div>
  </div>
</div>
